@import url("style.css");
h1{color: white;}

dl{
   background-color: rgb(30, 175, 42);
   width: 400px;
   height: 200px;
   margin: 0 auto;
   padding: 20px;
   border-radius: 20px 40px;
   border: 5px solid #fff;
}

div
{  width: 50%;
    padding: 30px;
    background-color: #ae3333;
    margin: 0 auto;
    box-shadow: 5px 5px 10px #000;
}